.heading{
    border: 2px solid black;
    text-shadow: 5px 15px 5px rgb(206, 216, 112);
    background-color: rgb(177, 241, 244);
    box-shadow: 2px 2px 2px 5px black;
}
body{
    background-image: url(../img/IT.webp);
    background-repeat: no-repeat;
    background-color: transparent;
    padding:30px;
    background-size: contain;
    background-position: center;
}
section{
    display: inline-block;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 40px;
    padding: 10px;
    text-align: center;
    background: linear-gradient(rgb(89, 23, 131),rgb(216, 179, 57)
    );
    position: relative;
    img{
        width: 30%;
        height: 20%;
        margin: 5px;
        padding: 1px;
        border-radius: 100%;
        background-color: rgb(221, 240, 240);
        box-shadow: 0px 0px 5px 3px rgb(184, 22, 157);
    }
}
.new{
    position: absolute;
    top: 0%;
    right: 0%;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
    background-color: red;
    width: 50px;
    height: 50px;
    color: whitesmoke;
}