*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

ul{
    display: flex;
    list-style: none;
    gap: 20px;

    a{
        color: white;
        text-decoration: none;
    }
}

nav a:hover{
    color: red;
   
}
#login-button{
    background-color: red; 
    border-radius: 5px;
    color: white; 
    padding: 5px;
}
.hero-section{
    height: 90vh;
    background-image: url(../img/banner-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.hero-content{
    color: white;
    margin-top: 150px;
    text-align: center;
}
#btn-order-now{
    background-color: rgb(225, 12, 12); 
    color: white;
    border-radius: 5px;
    padding: 6px;
    margin-top: 12px;
}